@import 'helpers/variables';

.footer {
  background-color: $white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  &__inner {
    text-align: center;
    font-size: 1.125rem;
    &_text {
      line-height: 1.7;
      &--small {
        font-size: .8rem;
        padding-top: 1rem;
      }
    }
  }
}